Extract and Transform (Countries Facts)

In [4]:
import pandas as pd
import requests

df =  pd.read_csv('./data/employees.csv', sep=',')
# Now you can create a Pandas DataFrame from the JSON data
df1 = pd.read_csv('./data/attendence.csv', sep=',')
df1["new column"] = "New value"
df1

    EmployeeID   PromotionTimestamp FromLevel ToLevel
0            1  2023-09-15 10:30:45    Junior  Senior
1            2  2023-12-05 09:15:20    Junior  Senior
2            2  2024-03-20 14:45:30    Senior    Lead
3            3  2024-02-10 11:20:55    Junior  Senior
4            4  2023-09-30 12:40:10    Junior  Senior
5            5  2023-11-25 08:55:35    Junior  Senior
6            6  2023-10-15 13:10:25    Junior  Senior
7            7  2023-08-20 10:05:55    Junior  Senior
8            8  2024-01-10 09:30:40    Junior  Senior
9            9  2024-03-05 11:20:15    Junior  Senior
10          10  2023-11-15 14:00:20    Junior  Senior
11          11  2024-01-20 09:45:30    Junior  Senior
12          12  2024-02-10 10:30:20    Junior  Senior
13          13  2023-12-05 11:15:50    Junior  Senior
14          14  2023-10-25 08:20:40    Junior  Senior
15          15  2023-09-15 09:35:10    Junior  Senior

Load to postgres db

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import os



# PostgreSQL connection parameters
pg_dbname =     os.getenv('pg_dbname')
pg_user =       os.getenv('pg_user')
pg_password =   os.getenv('pg_password')
pg_host =       os.getenv('pg_host')
pg_port =       os.getenv('pg_port')  # Default PostgreSQL port

print(pg_dbname)
print(pg_user)
print(pg_password)
print(pg_host)
print(pg_port)


# Create SQLAlchemy engine


engine = create_engine(f'postgresql://{pg_user}:{pg_password}@{pg_host}:{pg_port}/{pg_dbname}')


# Dump DataFrame into PostgreSQL using SQLAlchemy engine
table_name = 'employees'
df.to_sql(table_name, engine, if_exists='replace', index=False)

table_name = 'attendence'
df1.to_sql(table_name, engine, if_exists='replace', index=False)


print("Data loaded into PostgreSQL table successfully!")

postgres
postgres
mysecretpassword
localhost
5555
Data loaded into PostgreSQL table successfully!